body {
    background-color: #14151b !important;
    margin: 0 !important;
    font-family: Jura, sans-serif !important;
}

@font-face {
    font-family: Jura;
    src: url("../fonts/Jura.ttf");
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

#guardiran-logo {
    padding-top: 13.475409836065573vh !important !important;
    text-align: center !important;
}

#header-text {
    font-weight: bold !important;
    font-size: 22px !important;
    color: white !important;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2) !important;
    margin: 4.918032786885246vh auto auto auto !important;
    text-align: center !important;
}

#header {
    background: none !important;
}

#defacer-info-container {
    text-align: center !important;
    color: white !important;
    margin: 13.114754098360656vh auto auto !important;
}

#defacer-info {
    text-shadow: 0 0 0.5em #27b350, 0 0 0.5em #27b350 !important;
    width: 40% !important;
    margin: auto !important;
    text-align: center !important;
    font-size: 14px !important;
}

.defacer-name-container {
    font-size: 22px !important;
}

#defacer-name {
    font-size: 20px !important;
    width: 30% !important;
    position: relative !important;
    top: 4px !important;
}

#phrase-container {
    padding: 20px !important;
    font-size: 16px !important;
    text-align: center !important;
    color: white !important;
    text-shadow: 0 0 0.5em #27b350, 0 0 0.5em #27b350 !important;
    margin-top: 4.918032786885246vh !important;
}

#footer {
    background: none !important;
    color: white !important;
    text-align: center !important;
    margin: 11.475409836065573vh auto auto !important;
    padding: 2vw !important;
    font-size: 17px !important;
}

.admin {
    text-shadow: red 1px 1px 10px !important;
    color: red !important;
}

.senior-manager {
    text-shadow: #ff006a 1px 1px 10px !important;
    color: #ff006a !important;
}

.manager {
    text-shadow: #FF6118 1px 1px 10px !important;
    color: #FF6118 !important;
}


.defacer {
    text-shadow: #e5b701 1px 1px 10px;
    color: #e5b701;
}

.vip {
    text-shadow: #16E3C5 1px 1px 10px !important;
    color: #16E3C5 !important;
}

.overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0) 100%);
    background-size: auto 4px;
    z-index: 1;
}

.overlay::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            0deg,
            transparent 0%,
            rgba(32, 128, 32, 0.2) 2%,
            rgba(32, 128, 32, 0.8) 3%,
            rgba(32, 128, 32, 0.2) 3%,
            transparent 100%);
    background-repeat: no-repeat;
    animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
    0% {
        background-position: 0 -100vh;
    }
    35%, 100% {
        background-position: 0 100vh;
    }
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
    }
}

#guardiran-logo {
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}
